#gameArea {
    border: solid 1px black;
}
#title{
  font-size: 50px;
  margin-left: 46px;
  font-family:verdana;
  color: red;
}
#gameOver{
	font-size: 50px;
	margin-top: 20px;
	font-family:verdana;
	color: red;
}