#gameArea {
    border: solid 1px black;

}
#canvasDiv{
  width:49%;
  display: inline-block;
}
#rightOfGameArea{
  display: inline-block;
  position: fixed;
  top: 0;
  width:49%;
  height: 500px;
  font-family:verdana;
  color: red;
  margin-right: auto;
}
#rightOfInGame{
  display: inline-block;
  position: absolute;
  top: 0;
  width:49%;
  height: 500px;
  font-family:verdana;
  color: red;
  margin-right: auto;
  visibility: hidden;
}
#score{
  position: absolute;
  top:100;
  font-size: 30px;
  margin-left: 20%;
}
#title{
  font-size: 25px;
  margin-left: 125px;
  font-family:verdana;
  color: red;
}
#gameOver{
	font-size: 50px;
	margin-top: 20px;
	font-family:verdana;
	color: red;
  position:absolute;
  top:0;
}
#underCanvas{

  display: block;
  width: 100%;
}

button.theButtons{
  position: static;
  margin-left: 70px;
  display:block;
  padding:1em;
  margin-top:20px;
  background-color:#FF0000;
}

button.specialButton{
  position: absolute;
  margin-left: 435px;
  display:block;
  padding:1em;
  margin-top:20px;
  top:45;
  background-color:#FF0000;
}
